@import "src/styles/colours.less";

.tasks-page {
  background-image: linear-gradient(45deg, lighten(@nickel-grey, 20), lighten(@nickel-grey, 10));
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  height: 100vh;
}

.tasks-page .question-container {
  display: flex;
  flex: 1;
  margin: 20px;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tasks-page .no-tasks, .tasks-page .tasks-loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Small devices (450px and under) */
@media only screen and (max-width: 450px) {
  .tasks-page {
    /* mobile viewport bug fix */
    height: -webkit-fill-available;
  }
  .tasks-page .question-container {
    width: 90%;
  }
}